.projects-hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 5em;

}

.projects-content
    {   
        margin-left: 20em;
        align-items: center;
    }


.main-heading{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 80%;
    margin-bottom: 50px;
    
}

.skills-content{

    margin-left: 150px;
}

button.dropdown-btn{
    border: none;

}

button.dropdown-btn:hover{
    border: none;
    background-color: aqua;
    cursor: pointer;

}

.dropdown-gallery img{
    border: 3px solid black;
    max-width: 40em;
    max-height: 20em;
    border-radius: 20px;
    margin: 20px;
}

.dropdown-gallery{
    display: flex;
    position: relative;
    justify-content: space-around;
    overflow-x: auto;
}

.dropdown-paragraph{
    max-width: 90em;
    margin: 30px;
    justify-content: center;
}

.hide{
    display: none;
}

.main-heading:hover{
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: azure;
}

.dropdown-gallery img:hover{
     transition: transform 0.5s ease;
     transform: scale(1.1);
    
}


@media (max-device-width : 1024px) 
{

    .projects-hero-section
    {   
        margin-left: 30%;
    }

    .projects-content
    {
        margin-left: 5%;
    }



    
}


@media (max-device-width : 768px)
{


    .projects-hero-section
    {
    align-items: center;
    gap: 16px;
    margin-left: 3em;
    margin-bottom: 3em;
    }

.projects-content
    {   
      
        position: relative;
        margin-left: 40px;
        align-items: center;
    }


    .dropdown-gallery
    {
    display: flex;
    position: relative;
    justify-content: space-around;
    overflow-x: auto;
    right: 50px;
    }


    .dropdown-gallery img{
    border: 3px solid black;
    max-width: 21em;
    max-height: 17em;
    border-radius: 20px;
    margin: 20px;


    }


.skills-content{

    margin: auto;
    margin-left: 40px;
}


.main-heading{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 90%;
    margin-bottom: 50px;
    
}

}


