.hobby-hero-section {
    display: flex;
    justify-content: space-between;
}

.hobby-hero-text{
    padding: 2em;
}

.hobby-hero-text h1{
    padding-bottom: 0.3em;
}


.carousel{

    margin: 80px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;

     -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 90%,
        transparent
    );

    mask: linear-gradient(
        90deg,
        transparent,
        white 2%,
        white 98%,
        transparent
    );
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: rotate 20s infinite linear;
    padding-right: 1em;
    padding-bottom: 10em;

}

.card{
    flex: 0 0 5em;
    height: 5em;
    align-content: center;
}

.group img{
    max-width: 15em;
    max-height: 15em;
    border-radius: 20px;
}

@keyframes rotate {
    from {translate: 0;}
    to{translate: -100%;}
}

.gaming-intro-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.gaming-intro-text h1{
 padding-bottom: 0.4em;
    
}

.game-card img{
    border-radius: 0.8em;
    width: 20em;
    height: 30em;
}

.game-card img:hover{
    transition: transform 0.3s ease;
     transform: scale(1.02);
}

.game-card{
    position: relative;
    display: inline-block; 
    padding: 30px;
}

.shape {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 80px;
  height: 80px;
  background-color: white; /* Transparent red */
  border: 8px solid black;
  border-radius: 50%; /* Makes it a circle */
}


.shape p{

    position: absolute;
    top: 10%;
    left: 20px;
    background: none;
    color: rgb(24, 23, 23);
    font-size: 3em;

}

.games-container{
 display: flex;
 overflow-x: auto;
scrollbar-width: none; 
 padding-bottom: 30px;
}


@media (max-device-width : 1024px) 
{

    .gaming-intro-text
    {

    display: flex;
    flex-direction: column;
    align-items: center;

    }



    
}


@media (max-device-width : 768px) 
{
    
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: rotate 20s infinite linear;
    padding-right: 1em;
    padding-bottom: 10em;

}


.hobby-hero-section{
    display: flex;
    flex-direction: column;
    
}
    


.carousel{

    margin: 50px auto;
    margin-top: 10px;
    
}


.gaming-intro-text
{

   margin: auto;
    width: 90%;

}



}










