#music-hero{
    display: flex;
}


#music-hero-text{

    display: flex;
    flex-direction: column;
}


.vinyl{
    width: 20em;
    padding: 0;

}

.vinyl-artwork img{
    
    position: relative;
    bottom: 13.55em;
    left: 6.7em;
    width: 6.6em;
    height: 6.6em;
    border-radius: 50%; 
}

.rotate {
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#artists-section{

  padding-bottom: 50px;
}


.artist{
   
  background-image: var(--bg-image);

    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 70em;


    display: flex;
    flex-direction: column;
    
}



.artist h1{
  
  padding-top: 20px;
  background: none;
}



video{
   

    width: 35em;
    height: auto;

    border-radius: 1em;
    pointer-events: none;
}



#the-weeknd h1{

  font-family:'Cormorant Garamond', Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 600;
}








#albums-section{
  padding: 20px;
}

.album-card-container{
  display: flex;
  overflow-x: auto;
}



.album-card-container img{
  border-radius: 20px;
  width: 10em;
  height: 10em;
}


.album-card{

  padding: 4em;
  border-radius: 20px;
}

.album-card:hover{

  cursor: pointer;
  background-color: var(--bg-card-color);
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  transform: scale(1.015);
}

.album-card h1{

  padding-top: 0.5em;
  background: none;
  
}



.album-card p{

  width: 20em;
  padding-top: 0.5em;
  background: none;
}

.song-card-container{
  display: grid;

    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);

    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 40px;

    

}

.song-cover img{

  width: 8em;
  height: 8em;
  
 
  background: none;
}

.song-card{
  display: flex;
  width: 32em;
  height: 10em;
  background-color: var(--bg-song-card-color);
  padding: 5px;

  border-radius: 20px;
  
}

.song-card:hover{
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.015);
  
}

.song-info h1{
  width: 10em;
  padding-bottom: 7px;
  background: none;
  
}

.song-info p{
  width: 100%;
  background: none;
}

#songs-section
{
  padding: 30px;
}

