#music-hero{
    display: flex;
    align-items: center;
    margin-left: 10%;
  
}

.photo-upload{
  margin: 0%;
}


#music-hero-text{

    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    margin-right: 100px;
}


.vinyl{
    width: 20em;
    padding: 0;

}

.vinyl-artwork img{
    
    position: relative;
    bottom: 13.55em;
    left: 6.7em;
    width: 6.6em;
    height: 6.6em;
    border-radius: 50%; 
}

.rotate {
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#photo-selection{
  display: grid;

    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);

    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 40px;
}

#photo-selection img{
  max-width: 7em;
  max-height: 7em;
  border-radius: 50%;
}

#photo-selection img:hover{
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.015);

}

#artists-section{

  padding-bottom: 50px;
}

#artists-section h1{

  padding: 16px;
}


.artist{
   
  background-image: var(--bg-image);

    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 70em;


    display: flex;
    flex-direction: column;
    
}



.artist h1{
  
  padding-top: 20px;
  background: none;
}





.album-card-container{
  display: flex;
  overflow-x: auto;
}



.album-card-container img{
  border-radius: 20px;
  width: 10em;
  height: 10em;
}


.album-card{

  padding: 4em;
  border-radius: 20px;
}

.album-card:hover{

  cursor: pointer;
  color: aliceblue;
  background-color: var(--bg-card-color);
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  transform: scale(1.015);
}

.album-card h1{
  padding-top: 0.5em;
  background: none;
}



.album-card p{

  width: 20em;
  padding-top: 0.5em;
  background: none;
}

.song-card-container{
  display: grid;

    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);

    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 40px;

    

}

.song-cover img{

  width: 8em;
  height: 8em;
  border-radius: 20px;
  margin: 5px;

  
 
  background: none;
}

.song-card{
  display: flex;
  width: 32em;
  height: 9.5em;
  background-color: var(--bg-song-card-color);
  padding: 5px;

  border-radius: 20px;
  
}

.song-card:hover{
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.015);
  
}

.song-info h1{
  width: 10em;
  padding-bottom: 6px;
  background: none;
  margin-top: 8px;
  margin-left: 5px;
  
}

.song-info p{
  width: 100%;
  background: none;
  margin-left: 5px;
}

#songs-section
{
  padding: 30px;
}




.genre-stack{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  
    position: relative;
}

.genre-stack img{
  grid-column: 1;
  grid-row: 1;
  
    width: 20em;
    height: 30em;

    border-radius: 20px;
    border: 3px solid black;
  

}

.genre-container{
  padding-left: 20em;
  padding-top: 50px;
    display: flex;
    flex-grow: 1;
    gap: 5em;
   margin: auto;
    align-items: center;
}

.genre-stack img:nth-child(1) {
    transform: translateX(0px);
    z-index: 3;
    animation: slideRight 0.7s ease-in-out 2 alternate;
}

.genre-stack img:nth-child(2) {
    transform: translateX(20px);
    z-index: 2;
}

.genre-stack img:nth-child(3) {
    transform: translateX(40px);
    z-index: 1;
}


.genre-stack img:nth-child(1):hover{
    transition: transform 0.5s ease;
    transform: scale(1.03);
}


.next-genre-btn{

    padding: 25px;
    border-radius: 8px;
    background-color:rgb(247, 149, 3);
    color:beige;
    margin-left: 50%;
    position: relative;
    bottom: 80px;

}

.next-genre-btn:hover
{
    transition: transform 0.9s ease;
    transform: scale(1.1);

    background-color:beige;
    transition: background-color 0.3s ease;
    color: rgb(253, 101, 0);
    border-color: rgb(253, 101, 0);
    cursor: pointer;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-in h1{
  animation: fadeIn 0.5s ease-in forwards;
}

.fade-in p{
  animation: fadeIn 0.7s ease-in forwards;
}



@keyframes slideRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-15px);
    }
}

.music-info {
    margin-left: -50em;
}

#genre-section{

  margin-bottom: 25px;
  margin-left: 23px;
}


@media (max-device-width : 1024px) 
{

  #photo-selection
{
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.genre-container{
  padding-left: 0em;
  padding-top: 50px;
  
  gap: 4em;
  align-items: center;
}


.next-genre-btn{

    padding: 20x;
    border-radius: 8px;
    background-color:rgb(247, 149, 3);
    color:beige;
    font-size: larger;
    margin-left: 45%;
    position: relative;
    bottom: 12px;
    margin-top: 1.5em;

}
}


@media (max-device-width : 768px)  
{
  #music-hero{
    display: flex;
    flex-direction: column;
    margin: 0px;
    
  
  }


#music-hero-text{

    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 0px;
    width: 80%;
}


#photo-selection{
  display: grid;

    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);

    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px;
}


.song-card-container{
  display: grid;

    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);

    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 40px;
    padding-left: 0%;

}


.song-cover img{
  width: 6em;
  height: 6em;
}

.song-card{

  width: 23.1em;
  height: 8em;

}


.song-info h1{
  width: 8em;
  font-size: large;
  padding-bottom: 6px;
  background: none;
  margin-top: 8px;
  margin-left: 5px;
  
}

.song-info p{
  width: 100%;
  background: none;
  margin-left: 5px;
  font-size: small;
}


.genre-stack img{

    width: 19em;
    height: 25em;
}

.genre-container{
  padding-left: 0em;
  padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 4em;
   margin: 0px;
  align-items: self-start;
}


.next-genre-btn{

    padding: 20x;
    border-radius: 8px;
    background-color:rgb(247, 149, 3);
    color:beige;
    font-size: larger;
    margin-left: 33%;
    position: relative;
    bottom: 0px;
    margin-top: 1.5em;

}


form{
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

label{
  width: 100%;
  margin-right: 0px;
  margin-bottom: 20px;
}

}


form{
  padding-top: 30px;
  display: flex;
  width: 50%;
  margin: auto;
}

label{
  width: 90%;
  margin-right: 40px;
}

textarea{
  border-radius: 7px;
}






